#!/bin/bash
set -euo pipefail

# Ensure brew is in PATH
eval "$({{ .brewprefix }}/bin/brew shellenv)"

echo "Installing packages from Brewfile..."
brew bundle install --global

echo "Cleaning up..."
brew cleanup

echo "Packages installed."
